<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InsiderSuite" parallel="classes" thread-count="3">

    <test name="all-tests">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="regression"/>
                <include name="e2e"/>
            </run>
        </groups>
        <classes>
            <class name="com.insider.tests.CareersPageTest"/>
            <class name="com.insider.tests.HomePageTest"/>
            <class name="com.insider.tests.E2EJourneyTest"/>
            <class name="com.insider.tests.LeverQaJobsTest"/>
        </classes>
    </test>

</suite>
